<html>
    <head>
        <title>Formulario</title>
    </head>
    <body>
        <h2 style='text-align: center;'>Formulario de registro</h2>
        <form type='post' style='display: flex, flex-direction = column; margin: auto; width: 150px; background: cadetblue;'>
            <select style='width: 100%'>
                <option hidden selected>Seleccione Marca</option>
                <option value='1'>puma</option>
                <option value='2'>nike</option>
                <option value='3'>adidas</option>
                <option value='4'>converce</option>
            </select>
            <input style='width: 100%' type='text' placeholder='Ingrese modelo'/>
        </form>
    </body>
</html>