<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria</title>
</head>
<body>
    <form >
        <p>Nombre</p>
        <input type="text" placeholder="Ingrese nombre">
        <hr>
        <p>Raza</p>
        <input type="text" placeholder="Ingrese raza">
        <hr>
        <p>Edad</p>
        <input type="number" placeholder="Ingrese Edad">
        <hr>
        <p>Género</p>
        <select>
            <option value="0">Seleccione genero</option>
            <option value="1">Macho</option>
            <option value="2">Hembra</option>
        </select>
        <hr>
        <p>Color</p>
        <input type="color" placeholder="Ingrese Color">
        <hr>
        <p>Peso</p>
        <input type="text" placeholder="Ingrese peso">

        <hr>

        <button>Agregrar Gato</button>
    </form>
</body>
</html>