<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Gatitos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Genero</th>
                <th>Color</th>
                <th>Peso</th>
            </tr>
        </thead>
        <tbody>

            {% for gato in gatos %}
            <tr>
                <td>{{gato.nombre}}</td>
                <td>{{gato.raza}}</td>
                <td>{{gato.edad}}</td>
                <td>{{gato.genero}}</td>
                <td>{{gato.color}}</td>
                <td>{{gato.peso}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>
</html>